
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.account-Ybf {
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .group-2-tQd {
    padding: 0.7rem 7.4rem 0.4rem 7.6rem;
    width: 100%;
    height: 7rem;
    background-color: #ededed;
    flex-shrink: 0;
    margin-bottom: 10.7rem;
    box-sizing: border-box;

    .main-header-CgD {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      .header-ZFs {
        align-items: center;
        flex-shrink: 0;
        margin: 0.7rem 23.4rem 0.9rem 0rem;
        height: calc(100% - 1.6rem);
        display: flex;

        .rose-royal-grH {
          margin-right: 11.8rem;
          font-size: 3.5rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 800;
          line-height: 1.2175;
          color: #484848;
        }
        .header-navigations-QGV {
          margin: 1.2rem 0rem 1.1rem 0rem;
          height: calc(100% - 2.3rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .beranda-yiu {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 7.9rem;
            cursor: pointer;
            color: #484848;
            white-space: nowrap;
          }
          .presidential-room-WTw {
            color: #484848;
            flex-shrink: 0;
            margin-right: 9.7rem;
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .kontak-dYZ {
            white-space: nowrap;
            font-weight: 600;
            line-height: 1.2175;
            font-size: 1.6rem;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 8.7rem;
            cursor: pointer;
          }
          .tentang-ZSD {
            font-weight: 600;
            line-height: 1.2175;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.6rem;
          }
        }
      }
      .initial-options-gmj {
        width: 10.9rem;
        height: 5.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-mrp9-Czy {
    position: relative;
    flex-shrink: 0;
    margin: 0rem 8.4rem 8.1rem 8rem;
    width: calc(100% - 16.4rem);
    height: 56.6rem;

    .hello-john-doe-XGZ {
      width: 23rem;
      height: 3.5rem;
      font-size: 2.8rem;
      font-weight: 700;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 32.1rem;
      top: 0.2rem;
      line-height: 1.2175;
      color: #484848;
    }
    .line-9-R73 {
      width: 87.9rem;
      height: 0.1rem;
      position: absolute;
      left: 32.3rem;
      top: 22.8rem;
      background-color: #e0e2e6;
    }
    .profile-YhT {
      align-items: flex-start;
      width: 48.1rem;
      height: 56.6rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      display: flex;

      .auto-group-n2nw-5xH {
        box-sizing: border-box;
        width: 27.9rem;
        background-color: #eff0f2;
        flex-shrink: 0;
        flex-direction: column;
        border-radius: 0.8rem;
        margin-right: 4.4rem;
        padding: 5.018rem 1.5rem 6.6rem 2.3rem;
        height: 100%;
        align-items: center;
        display: flex;

        .carbon-user-avatar-filled-BkR {
          height: 14.264rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.81rem 1.518rem 0rem;
          width: 14.2523rem;
        }
        .upload-a-photo-VWD {
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.7rem 4.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .identity-verification-CQd {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.9rem 1rem 0rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #484848;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-WRK {
          color: #9a9a9a;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 4.6rem 0.2rem;
          max-width: 23.9rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
        }
        .john-doe-z5b {
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 12.7rem 1.4rem 0rem;
          font-size: 2.2rem;
          font-weight: 700;
        }
        .group-7-6uK {
          margin: 0rem 8.3rem 0.8rem 0rem;
          box-sizing: border-box;
          padding: 0.1rem 0rem 0rem 0.317rem;
          width: calc(100% - 8.3rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .akar-icons-check-1Fb {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.317rem 0.2rem 0rem;
            width: 1.2667rem;
            height: 0.95rem;
            object-fit: contain;
          }
          .email-confirmed-73j {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #9a9a9a;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-8-EPF {
          align-items: center;
          flex-shrink: 0;
          margin-right: 7.5rem;
          box-sizing: border-box;
          padding: 0.1rem 0rem 0rem 0.317rem;
          width: calc(100% - 7.5rem);
          display: flex;

          .akar-icons-check-Yuj {
            margin: 0rem 1.317rem 0.2rem 0rem;
            width: 1.2667rem;
            height: 0.95rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .mobile-confirmed-47P {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #9a9a9a;
          }
        }
      }
      .auto-group-fq5v-ZZw {
        margin-top: 4.4rem;
        width: 15.8rem;
        flex-shrink: 0;

        .joined-in-2021-uNu {
          margin-bottom: 2.9rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #9a9a9a;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .bordered-btn-Rs3 {
          white-space: nowrap;
          font-weight: 600;
          font-family: Montserrat, 'Source Sans Pro';
          display: flex;
          background-color: #ffffff;
          border-radius: 0.6rem;
          width: 100%;
          height: 5.4rem;
          border: solid 0.1rem #484848;
          box-sizing: border-box;
          font-size: 1.5rem;
          align-items: center;
          justify-content: center;
          line-height: 1.2175;
          color: #484848;
        }
        .auto-group-bfak-6iH {
          flex-direction: column;
          box-sizing: border-box;
          padding-top: 3.1rem;
          width: 100%;
          display: flex;

          .auto-group-j9rs-qQy {
            margin: 0rem 2.7rem 5.3rem 0rem;
            width: calc(100% - 2.7rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .vector-k29 {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.5rem;
              width: 2rem;
            }
            .reviews-scZ {
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 700;
            }
          }
          .reviewed-by-you-zx5 {
            text-decoration-line: underline;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.2175;
          }
        }
      }
    }
  }
  .footer-XSD {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #eff0f2;
    box-sizing: border-box;
    padding: 7.2rem 0rem 4.2rem 0rem;
    width: 100%;
    position: relative;
    align-items: center;
    flex-shrink: 0;

    .auto-group-uq2s-qxh {
      height: 24.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 18.9rem 19.9rem 8rem;
      width: calc(100% - 26.9rem);

      .footer-about-m5f {
        width: 37.8rem;
        height: 100%;
        flex-shrink: 0;

        .rose-royal-K7B {
          font-weight: 800;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 4.4rem;
          font-size: 3.5rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-3Yy {
          max-width: 37.8rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3333333333;
          color: #9a9a9a;
          font-family: Montserrat, 'Source Sans Pro';
          margin-bottom: 4.3rem;
        }
        .auto-group-9gjd-XDF {
          width: calc(100% - 2.1rem);
          height: 5.2rem;
          display: flex;
          align-items: center;
          margin-right: 2.1rem;

          .playstore-T6u {
            height: 100%;
            border-radius: 0.6rem;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            background-color: #e0e2e6;
            margin-right: 1.3rem;
            box-sizing: border-box;
            padding: 0.9rem 3.2rem 0.9rem 1.9rem;

            .google-play-yL9 {
              margin-right: 1.3rem;
              width: 3.4rem;
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .playstore-i2q {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
            }
          }
          .applestore-1Xj {
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #e0e2e6;
            border-radius: 0.6rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 2.5rem 0.9rem 2.1rem;

            .app-symbol-jyX {
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.5rem;
              width: 3.4rem;
            }
            .applestore-URK {
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-zn6x-mvD {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.4rem 0rem 2.4rem 5.2rem;
        height: 100%;

        .company-VrD {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 8.8rem;
          display: flex;

          .perusahaan-T2M {
            line-height: 1.1111111111;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
            font-size: 1.8rem;
            font-weight: 700;
          }
          .tentang-Bj3 {
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 500;
          }
          .informasi-WmK {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .help-center-dL9 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 5.1rem;

          .pusat-bantuan-aFP {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.1111111111;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
          }
          .temukan-kamar-uYZ {
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
          }
          .layanan-pelanggan-Rmo {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
          }
        }
        .auto-group-ja59-ZND {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .contact-info-7ed {
            margin: 0rem 0rem 3.6rem 0.9rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .kontak-3oB {
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.9rem;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.1111111111;
            }
            .telepon-1234567890-B8h {
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
            }
            .email-roseroyalhotelemailcom-6WZ {
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
            }
            .lokasi-yogyakarta-DLH {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .frame-14-YdT {
            display: flex;
            column-gap: 1.9rem;
            align-items: center;
            flex-shrink: 0;

            .facebook-thK {
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
            }
            .twitter-deu {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
            }
            .instagram-circle-aa9 {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
            }
            .linkedin-iwF {
              flex-shrink: 0;
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
    .copyrights-rnZ {
      padding: 4rem 7.9rem 0rem 97.5rem;
      text-align: right;
      font-size: 1.6rem;
      line-height: 1.25;
      white-space: nowrap;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      font-weight: 600;
      color: #484848;
      font-family: Montserrat, 'Source Sans Pro';
      border-top: solid 0.1rem #e0e2e6;
    }
  }
}
