
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.contact-ex-WS1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .main-header-FeV {
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    padding: 1.3rem 8rem 1.1rem 7.6rem;
    width: 100%;
    height: 7rem;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ededed;

    .header-ZQH {
      align-items: center;
      flex-shrink: 0;
      margin: 0.1rem 23.9rem 0.2rem 0rem;
      height: calc(100% - 0.3rem);
      display: flex;

      .rose-royal-gzh {
        line-height: 1.2175;
        font-weight: 800;
        display: flex;
        font-size: 3.5rem;
        color: #484848;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 11.8rem;
      }
      .header-navigations-oJd {
        align-items: center;
        flex-shrink: 0;
        margin: 0.8rem 0rem 0.9rem 0rem;
        height: calc(100% - 1.7rem);
        display: flex;

        .auto-group-vubr-igV {
          box-sizing: border-box;
          padding: 0.4rem 9.6rem 0.2rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .beranda-3Ts {
            flex-shrink: 0;
            margin-right: 8rem;
            font-weight: 600;
            line-height: 1.2175;
            white-space: nowrap;
            cursor: pointer;
            font-size: 1.6rem;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .kamar-y6d {
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
          }
        }
        .active-category-J8u {
          margin-right: 8.7rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .contact-rAR {
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .active-line-PAM {
            width: 4rem;
            height: 0.3rem;
            background-color: #484848;
            flex-shrink: 0;
            margin-left: 0.1rem;
          }
        }
        .tentang-7s3 {
          white-space: nowrap;
          margin-top: 0.2rem;
          font-size: 1.6rem;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
    .initial-options-qo3 {
      position: relative;
      flex-shrink: 0;
      width: 9.8rem;
      height: 100%;
      overflow: hidden;

      .auth-btn-niH {
        cursor: pointer;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        font-weight: 700;
        justify-content: center;
        border-radius: 2.3rem;
        white-space: nowrap;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        font-size: 2.4rem;
      }
    }
  }
  .hubungi-kami-Frm {
    box-sizing: border-box;
    padding: 2.5rem 38.4rem 4.3rem 37.7rem;
    align-items: center;
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    background-color: #d6d6d6;
    flex-shrink: 0;

    .hubungi-kami-NgV {
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 0.8rem 0.4rem;
    }
    .dimanapun-anda-berada-kami-hanya-berjarak-satu-klik-saja-tPw {
      font-weight: 400;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
    }
  }
  .auto-group-wd4f-P5o {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.35rem 1.3rem 2.7rem 1.6rem;
    width: 100%;
    display: flex;

    .halo-VuX {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 3.7rem 0.8rem;
      overflow: hidden;

      .halo-qiV {
        display: flex;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.75rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2175;
        flex-shrink: 0;
      }
      .apa-yang-bisa-kami-bantu-m6M {
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;
      }
    }
    .auto-group-ov7u-gj7 {
      flex-shrink: 0;
      width: 100%;
      height: 44.9rem;
      display: flex;
      align-items: flex-start;

      .kiri-Dyw {
        height: 31rem;
        box-sizing: border-box;
        background-color: #f5f5f5;
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0.1rem 2.3rem 0rem 0rem;
        width: 64.7rem;
        overflow: hidden;
        position: relative;
        border: solid 0.03rem #000000;

        .hcsk-kDB {
          position: relative;
          align-items: center;
          display: flex;
          border-radius: 2rem;
          box-sizing: border-box;
          padding: 4rem 0rem 3.7rem 0rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          flex-direction: column;
          background-color: #f5f5f5;

          .hubungi-customer-service-kami-eZT {
            flex-shrink: 0;
            margin: 0rem 0.7rem 2.5rem 0rem;
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-1-MCy {
            position: relative;
            display: flex;
            border: solid 0.1rem #000000;
            flex-shrink: 0;
            margin-bottom: 3.6rem;
            padding: 3.1rem 3.4rem 2.2rem 14.4rem;
            overflow: hidden;
            align-items: center;
            flex-direction: column;
            box-sizing: border-box;
            width: 100%;

            .auto-group-harf-35o {
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              width: 100%;
              height: 3rem;
            }
            .dikenakan-biaya-telepon-manual-jzD {
              margin-right: 22.6rem;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .item-2-eLV {
            flex-shrink: 0;
            margin-left: 11.1rem;
            overflow: hidden;
            position: relative;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            box-sizing: border-box;
            padding: 0.4rem 0rem 0.1rem 0rem;
            width: 46.8rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .kanan-5Ro {
        height: 100%;
        position: relative;
        display: flex;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.8rem 3.7rem 3.2rem 3rem;
        overflow: hidden;
        align-items: center;
        background-color: #d7fff7;

        .qr-code-1KT {
          flex-shrink: 0;
          margin: 0.5rem 3.7rem 0rem 0rem;
          width: 22rem;
          height: 22rem;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-acwx-vSR {
          width: 34.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .log-in-ke-akun-traveloka-anda-atau-daftar-untuk-mendapatkan-jawaban-atas-keluhan-andadownload-traveloka-app-dengan-scan-qr-code-di-sebelah-kiri-melalui-kamera-ponsel-anda-s6m {
            top: 0;
            font-size: 3.2rem;
            font-family: Inter, 'Source Sans Pro';
            width: 34.3rem;
            height: 38.9rem;
            position: absolute;
            left: 0;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;

            .log-in-ke-akun-traveloka-anda-atau-daftar-untuk-mendapatkan-jawaban-atas-keluhan-andadownload-traveloka-app-dengan-scan-qr-code-di-sebelah-kiri-melalui-kamera-ponsel-anda-s6m-sub-0 {
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .log-in-ke-akun-traveloka-anda-atau-daftar-untuk-mendapatkan-jawaban-atas-keluhan-andadownload-traveloka-app-dengan-scan-qr-code-di-sebelah-kiri-melalui-kamera-ponsel-anda-s6m-sub-1 {
            }
            .log-in-ke-akun-traveloka-anda-atau-daftar-untuk-mendapatkan-jawaban-atas-keluhan-andadownload-traveloka-app-dengan-scan-qr-code-di-sebelah-kiri-melalui-kamera-ponsel-anda-s6m-sub-2 {
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .log-in-ke-akun-traveloka-anda-atau-daftar-untuk-mendapatkan-jawaban-atas-keluhan-andadownload-traveloka-app-dengan-scan-qr-code-di-sebelah-kiri-melalui-kamera-ponsel-anda-s6m-sub-3 {
            }
          }
          .log-in-Tch {
            top: 0;
            font-size: 3.2rem;
            white-space: nowrap;
            text-decoration-line: underline;
            width: 9.3rem;
            height: 3.9rem;
            cursor: pointer;
            position: absolute;
            left: 0;
            font-weight: 400;
            line-height: 1.2125;
            color: #768ad3;
            font-family: Inter, 'Source Sans Pro';
          }
          .daftar-aBX {
            width: 9.5rem;
            font-size: 3.2rem;
            font-weight: 400;
            text-decoration-line: underline;
            color: #768ad3;
            height: 3.9rem;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 7.8rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
  .footer-3au {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #eff0f2;
    padding: 7.2rem 0rem 4.2rem 0rem;
    width: 100%;
    overflow: hidden;

    .auto-group-f3nb-N7P {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 18.9rem 19.9rem 8rem;
      width: calc(100% - 26.9rem);
      height: 24.2rem;
      display: flex;

      .footer-about-MED {
        width: 37.8rem;
        height: 100%;
        flex-shrink: 0;

        .rose-royal-Hdf {
          font-size: 3.5rem;
          font-weight: 800;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 4.4rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-xUu {
          color: #9a9a9a;
          font-family: Montserrat, 'Source Sans Pro';
          margin-bottom: 4.3rem;
          max-width: 37.8rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3333333333;
        }
        .auto-group-xv7d-N2q {
          margin-right: 2.1rem;
          width: calc(100% - 2.1rem);
          height: 5.2rem;
          display: flex;
          align-items: center;

          .playstore-T4H {
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            border-radius: 0.6rem;
            margin-right: 1.3rem;
            padding: 0.9rem 3.2rem 0.9rem 1.9rem;
            display: flex;
            background-color: #e0e2e6;
            flex-shrink: 0;

            .google-play-Ltm {
              width: 3.4rem;
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.3rem;
            }
            .playstore-GGd {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .applestore-xQM {
            padding: 0.9rem 2.5rem 0.9rem 2.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #e0e2e6;
            border-radius: 0.6rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .app-symbol-Gvq {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.5rem;
              width: 3.4rem;
              height: 3.4rem;
              object-fit: contain;
            }
            .applestore-QGM {
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-pctu-KPK {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.4rem 0rem 2.4rem 5.2rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .company-34R {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 8.8rem;
          display: flex;

          .perusahaan-aa9 {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.1111111111;
            color: #484848;
          }
          .tentang-7KB {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
          }
          .informasi-FRP {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
        .help-center-B49 {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 5.1rem;
          display: flex;

          .pusat-bantuan-iJy {
            margin-bottom: 2.8rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.1111111111;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .temukan-kamar-36M {
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 500;
          }
          .layanan-pelanggan-N8d {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
        .auto-group-qaro-hgh {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .contact-info-rZb {
            flex-shrink: 0;
            margin: 0rem 0rem 3.6rem 0.9rem;
            display: flex;
            flex-direction: column;

            .kontak-Bbs {
              font-weight: 700;
              line-height: 1.1111111111;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.9rem;
              font-size: 1.8rem;
            }
            .telepon-1234567890-81K {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
            }
            .email-roseroyalhotelemailcom-ekM {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
              color: #484848;
            }
            .lokasi-yogyakarta-NgM {
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-14-teh {
            display: flex;
            column-gap: 1.9rem;
            align-items: center;
            flex-shrink: 0;

            .facebook-ETf {
              flex-shrink: 0;
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
            }
            .twitter-xeZ {
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .instagram-circle-6km {
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
            }
            .linkedin-Ery {
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .copyrights-AVj {
      color: #484848;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      border-top: solid 0.1rem #e0e2e6;
      box-sizing: border-box;
      padding: 4rem 7.9rem 0rem 97.5rem;
      width: 100%;
      font-weight: 600;
      flex-shrink: 0;
      text-align: right;
      font-size: 1.6rem;
      line-height: 1.25;
    }
  }
}
