
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.contact-n53 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-bottom: 0.3rem;
  border-radius: 2rem;
  box-sizing: border-box;

  .group-2-W13 {
    flex-shrink: 0;
    width: 100%;
    height: 7rem;
    background-color: #ededed;

    .main-header-rah {
      align-items: center;
      background-color: #ededed;
      box-sizing: border-box;
      padding: 0.7rem 7.4rem 0.4rem 7.6rem;
      height: 100%;
      display: flex;
      width: 100%;
      overflow: hidden;
      position: relative;

      .header-yfK {
        margin: 0.7rem 23.4rem 0.9rem 0rem;
        height: calc(100% - 1.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rose-royal-WQM {
          font-weight: 800;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 3.5rem;
          display: flex;
          line-height: 1.2175;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 11.8rem;
        }
        .header-navigations-DJm {
          margin: 0.8rem 0rem 0.9rem 0rem;
          height: calc(100% - 1.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-vky5-Y69 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 9.6rem 0.2rem 0rem;
            height: 100%;

            .beranda-GXw {
              margin-right: 8rem;
              font-size: 1.6rem;
              line-height: 1.2175;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              font-weight: 600;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .kamar-o25 {
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              font-size: 1.6rem;
            }
          }
          .active-category-84M {
            margin-right: 8.7rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .contact-gLm {
              flex-shrink: 0;
              margin-bottom: 0.3rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .active-line-D5o {
              margin-left: 0.1rem;
              width: 4rem;
              height: 0.3rem;
              background-color: #484848;
              flex-shrink: 0;
            }
          }
          .tentang-jZw {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            color: #484848;
            font-weight: 600;
            line-height: 1.2175;
            margin-top: 0.2rem;
            cursor: pointer;
          }
        }
      }
      .initial-options-EFo {
        height: 5.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 10.9rem;
      }
    }
  }
  .hubungi-kami-97s {
    width: 100%;
    align-items: center;
    background-color: #d6d6d6;
    flex-shrink: 0;
    margin-bottom: 3.4rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 38.4rem 4.3rem 37.7rem;
    overflow: hidden;

    .hubungi-kami-3U9 {
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 0.8rem 0.4rem;
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 1.2175;
    }
    .dimanapun-anda-berada-kami-hanya-berjarak-satu-klik-saja-wpR {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .halo-apa-yang-bisa-kami-bantu-T25 {
    font-family: Montserrat, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 3.4rem 4.3rem;
    max-width: 51.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2175;
    color: #000000;

    .halo-apa-yang-bisa-kami-bantu-T25-sub-0 {
    }
    .halo-apa-yang-bisa-kami-bantu-T25-sub-1 {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
    }
  }
  .auto-group-m9mm-WPf {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 1.3rem 2.4rem 1.6rem;
    width: calc(100% - 2.9rem);
    height: 44.9rem;

    .kiri-DYy {
      overflow: hidden;
      background-color: #f5f5f5;
      flex-shrink: 0;
      border: solid 0.03rem #000000;
      box-sizing: border-box;
      border-radius: 2rem;
      margin: 0.1rem 2.3rem 0rem 0rem;
      width: 64.7rem;
      height: 31rem;
      position: relative;

      .hcsk-YLM {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 4rem 0rem 3.7rem 0rem;
        overflow: hidden;
        background-color: #f5f5f5;
        border-radius: 2rem;

        .hubungi-customer-service-kami-TiD {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.7rem 2.5rem 0rem;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .item-1-xus {
          overflow: hidden;
          display: flex;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          position: relative;
          align-items: center;
          border: solid 0.1rem #000000;
          margin-bottom: 3.6rem;
          padding: 3.1rem 2.2rem 2.8rem 14.4rem;

          .telepon-customer-service-kami-dikenakan-biaya-telepon-manual-4i1 {
            margin-right: 14.6rem;
            max-width: 30.5rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2102272034;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;

            .telepon-customer-service-kami-dikenakan-biaya-telepon-manual-4i1-sub-0 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2125;
            }
            .telepon-customer-service-kami-dikenakan-biaya-telepon-manual-4i1-sub-1 {
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .back-LJ9 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            width: 3rem;
            height: 3rem;
          }
        }
        .item-2-qkh {
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 2.2rem 0rem 14.5rem;
          width: calc(100% - 16.7rem);

          .kirim-email-ke-customer-service-ZRo {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 13.6rem 0.1rem 0rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .back-UHs {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .kanan-AAh {
      box-sizing: border-box;
      padding: 2.8rem 3.7rem 3.2rem 3rem;
      position: relative;
      border-radius: 2rem;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      background-color: #d7fff7;

      .qr-code-6KF {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.5rem 3.7rem 0rem 0rem;
        width: 22rem;
        height: 22rem;
      }
      .auto-group-urrh-cYV {
        width: 34.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .log-in-ke-akun-traveloka-anda-atau-daftar-untuk-mendapatkan-jawaban-atas-keluhan-andadownload-traveloka-app-dengan-scan-qr-code-di-sebelah-kiri-melalui-kamera-ponsel-anda-ZCq {
          height: 38.9rem;
          left: 0;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 34.3rem;
          position: absolute;
          top: 0;
          font-size: 3.2rem;
          font-weight: 400;

          .log-in-ke-akun-traveloka-anda-atau-daftar-untuk-mendapatkan-jawaban-atas-keluhan-andadownload-traveloka-app-dengan-scan-qr-code-di-sebelah-kiri-melalui-kamera-ponsel-anda-ZCq-sub-0 {
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .log-in-ke-akun-traveloka-anda-atau-daftar-untuk-mendapatkan-jawaban-atas-keluhan-andadownload-traveloka-app-dengan-scan-qr-code-di-sebelah-kiri-melalui-kamera-ponsel-anda-ZCq-sub-1 {
          }
          .log-in-ke-akun-traveloka-anda-atau-daftar-untuk-mendapatkan-jawaban-atas-keluhan-andadownload-traveloka-app-dengan-scan-qr-code-di-sebelah-kiri-melalui-kamera-ponsel-anda-ZCq-sub-2 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .log-in-ke-akun-traveloka-anda-atau-daftar-untuk-mendapatkan-jawaban-atas-keluhan-andadownload-traveloka-app-dengan-scan-qr-code-di-sebelah-kiri-melalui-kamera-ponsel-anda-ZCq-sub-3 {
          }
        }
        .log-in-i7f {
          left: 0;
          line-height: 1.2125;
          text-decoration-line: underline;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.9rem;
          cursor: pointer;
          position: absolute;
          top: 0;
          font-size: 3.2rem;
          font-weight: 400;
          color: #768ad3;
          width: 9.3rem;
        }
        .daftar-2PF {
          color: #768ad3;
          cursor: pointer;
          position: absolute;
          top: 7.8rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          text-decoration-line: underline;
          font-family: Inter, 'Source Sans Pro';
          width: 9.5rem;
          height: 3.9rem;
          left: 0;
          white-space: nowrap;
        }
      }
    }
  }
  .footer-6P7 {
    width: 100%;
    height: 61.5rem;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    flex-shrink: 0;

    .footer-bg-Shs {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #eff0f2;
      width: 136.6rem;
      height: 64.8rem;
    }
    .auto-group-bzsw-aZB {
      align-items: center;
      width: 109.7rem;
      height: 24.2rem;
      position: absolute;
      left: 8rem;
      top: 7.2rem;
      display: flex;

      .footer-about-hdo {
        width: 37.8rem;
        height: 100%;
        flex-shrink: 0;

        .rose-royal-TN5 {
          margin-bottom: 4.4rem;
          font-size: 3.5rem;
          font-weight: 800;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-z77 {
          margin-bottom: 4.3rem;
          max-width: 37.8rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3333333333;
          color: #9a9a9a;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .auto-group-9tnt-4Ms {
          align-items: center;
          margin-right: 2.1rem;
          width: calc(100% - 2.1rem);
          height: 5.2rem;
          display: flex;

          .playstore-P9F {
            margin-right: 1.3rem;
            box-sizing: border-box;
            display: flex;
            background-color: #e0e2e6;
            padding: 0.9rem 3.2rem 0.9rem 1.9rem;
            height: 100%;
            align-items: center;
            border-radius: 0.6rem;
            flex-shrink: 0;

            .google-play-WDs {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 3.4rem;
              height: 3.4rem;
              object-fit: contain;
            }
            .playstore-qG9 {
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .applestore-voP {
            background-color: #e0e2e6;
            border-radius: 0.6rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 2.5rem 0.9rem 2.1rem;
            height: 100%;
            display: flex;
            align-items: center;

            .app-symbol-rww {
              flex-shrink: 0;
              margin-right: 0.5rem;
              width: 3.4rem;
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .applestore-Pws {
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.2175;
            }
          }
        }
      }
      .auto-group-zaew-WWh {
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.4rem 0rem 2.4rem 5.2rem;
        height: 100%;
        display: flex;

        .company-e77 {
          margin-right: 8.8rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .perusahaan-amT {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.1111111111;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
          }
          .tentang-v4d {
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
          }
          .informasi-rU5 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
        .help-center-nMj {
          margin-right: 5.1rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .pusat-bantuan-KsT {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.1111111111;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
          }
          .temukan-kamar-FFK {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .layanan-pelanggan-mzM {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-kxby-KFB {
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          display: flex;

          .contact-info-U85 {
            margin: 0rem 0rem 3.6rem 0.9rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .kontak-og9 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.9rem;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.1111111111;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .telepon-1234567890-Lvy {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
            }
            .email-roseroyalhotelemailcom-Gpd {
              line-height: 1.3333333333;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 500;
            }
            .lokasi-yogyakarta-CiH {
              font-weight: 500;
              line-height: 1.3333333333;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
            }
          }
          .frame-14-Y1T {
            display: flex;
            column-gap: 1.9rem;
            align-items: center;
            flex-shrink: 0;

            .facebook-62y {
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .twitter-dob {
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
            }
            .instagram-circle-z8M {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
            }
            .linkedin-KwK {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
            }
          }
        }
      }
    }
    .copyrights-U3X {
      height: 6rem;
      position: absolute;
      font-weight: 600;
      border-top: solid 0.1rem #e0e2e6;
      padding: 4rem 7.9rem 0rem 97.5rem;
      text-align: right;
      white-space: nowrap;
      left: 0;
      top: 51.3rem;
      line-height: 1.25;
      width: 136.6rem;
      font-size: 1.6rem;
      color: #484848;
      font-family: Montserrat, 'Source Sans Pro';
      box-sizing: border-box;
    }
  }
}
