
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.data-pelanggan-nx5 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #7d7d7d;

  .main-header-91w {
    padding: 1.3rem 8rem 1.1rem 7.6rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(238, 238, 238, 0.9499999881);
    flex-shrink: 0;

    .rose-royal-rS9 {
      flex-shrink: 0;
      display: flex;
      font-weight: 800;
      line-height: 1.2175;
      white-space: nowrap;
      margin: 0rem 87.4rem 0.1rem 0rem;
      font-size: 3.5rem;
      color: #484848;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .initial-options-YJy {
      height: 4.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 9.8rem;
    }
  }
  .auto-group-laku-TRw {
    width: 100%;
    height: 122.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-nvd5-QMB {
      width: 36.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .profile-wru {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        align-items: center;
        background-color: rgba(238, 238, 238, 0.9333333373);
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 6.718rem 10.929rem 4rem 10.919rem;
        width: 100%;

        .carbon-user-avatar-filled-5CR {
          margin-bottom: 1.5184rem;
          width: 14.2523rem;
          height: 14.264rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .admin-zqB {
          justify-content: center;
          font-weight: 600;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          margin-left: 0.0102rem;
          display: flex;
          align-items: center;
          font-size: 3.5rem;
          line-height: 1.2175;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .menu-gi1 {
        flex-shrink: 0;
        box-sizing: border-box;
        overflow: hidden;
        align-items: center;
        display: flex;
        background-color: #ededed;
        padding-bottom: 13.6rem;
        width: 100%;
        position: relative;
        flex-direction: column;

        .rectangle-102-DT3 {
          background-color: #000000;
          border-radius: 2rem;
          flex-shrink: 0;
          margin: 0rem 2.2rem 16.5rem 2.1rem;
          width: calc(100% - 4.3rem);
          height: 0.3rem;
        }
        .dashboard-7YR {
          border-radius: 1.5rem;
          flex-shrink: 0;
          padding: 1.1rem 5rem 1.8rem 3.1rem;
          width: 100%;
          overflow: hidden;
          align-items: center;
          background-color: rgba(72, 72, 72, 0.349999994);
          margin-bottom: 10rem;
          box-sizing: border-box;
          position: relative;
          display: flex;

          .menu-E7F {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 3.1rem;
            width: 5rem;
            height: 5rem;
          }
          .dashboard-ZQR {
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 3.5rem;
            font-weight: 600;
          }
        }
        .data-yyw {
          display: flex;
          border-radius: 1.5rem;
          margin-bottom: 10rem;
          box-sizing: border-box;
          position: relative;
          align-items: center;
          background-color: rgba(72, 72, 72, 0.349999994);
          flex-shrink: 0;
          padding: 1.5rem 1.6rem 1.4rem 2.8rem;
          width: 100%;
          overflow: hidden;

          .user-male-JmK {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
          }
          .data-pelanggan-Eey {
            justify-content: center;
            font-size: 3rem;
            white-space: nowrap;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
            align-items: center;
            font-weight: 600;
          }
        }
        .room-jLq {
          margin-bottom: 10rem;
          padding: 1.5rem 10.6rem 1.4rem 3rem;
          background-color: rgba(72, 72, 72, 0.349999994);
          border-radius: 1.5rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          overflow: hidden;
          position: relative;

          .two-beds-TXj {
            margin-right: 7.2rem;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .kamar-CVK {
            justify-content: center;
            font-size: 3rem;
            line-height: 1.2175;
            flex-shrink: 0;
            white-space: nowrap;
            margin-bottom: 0.1rem;
            display: flex;
            align-items: center;
            font-weight: 600;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
        .check-6qb {
          padding: 0.3rem 7.25rem 0.2rem 3rem;
          position: relative;
          background-color: rgba(72, 72, 72, 0.349999994);
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;

          .door-sensor-checked-pmb {
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 5.15rem;
            width: 5rem;
          }
          .check-in-check-out-Yhb {
            display: flex;
            justify-content: center;
            font-weight: 600;
            color: #000000;
            max-width: 15.7rem;
            font-size: 3rem;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            align-items: center;
          }
        }
      }
    }
    .page-2Ms {
      width: 100.5rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.45rem 0.7rem 4.35rem 0.7rem;

      .daftar-costumer-jn5 {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 8.65rem 2rem;
        display: flex;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.2175;
      }
      .auto-group-croz-SwP {
        margin: 0rem 54.2rem 2.1rem 0.5rem;
        width: calc(100% - 54.7rem);
        height: 3.3rem;
        display: flex;
        align-items: center;

        .tmbh-cust-M2m {
          box-sizing: border-box;
          position: relative;
          align-items: center;
          background-color: rgba(72, 72, 72, 0.349999994);
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 3rem;
          padding: 0.2rem 1.6rem 0.1rem 1.5rem;
          height: 100%;
          overflow: hidden;
          display: flex;

          .plus-fp9 {
            margin-right: 0.9rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .tambah-customer-D4y {
            margin-bottom: 0.1rem;
            display: flex;
            font-weight: 800;
            color: #000000;
            font-size: 1.4rem;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .hpus-cust-J6R {
          box-sizing: border-box;
          padding: 0.3rem 2.8rem 0.2rem 1.7rem;
          position: relative;
          display: flex;
          height: 100%;
          overflow: hidden;
          align-items: center;
          background-color: rgba(72, 72, 72, 0.349999994);
          border-radius: 1rem;
          flex-shrink: 0;

          .trash-cso {
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 2.9rem;
            height: 2.8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .hapus-customer-kj7 {
            margin-bottom: 0.1rem;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            display: flex;
            font-size: 1.4rem;
            font-weight: 800;
            line-height: 1.2175;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .data-qkZ {
        display: flex;
        flex-direction: column;
        margin-bottom: 53.35rem;
        width: 96.6rem;
        overflow: hidden;
        position: relative;
        align-items: center;

        .tabel-NVb {
          flex-shrink: 0;
          width: 100%;
          height: 4rem;
          display: flex;
          align-items: center;

          .id-Ju3 {
            line-height: 1.2175;
            white-space: nowrap;
            border: solid 0.1rem #000000;
            width: 7rem;
            justify-content: center;
            font-weight: 500;
            position: relative;
            display: flex;
            color: #000000;
            align-items: center;
            box-sizing: border-box;
            overflow: hidden;
            font-size: 2rem;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            height: 100%;
          }
          .nama-Ntu {
            height: 100%;
            position: relative;
            width: 20rem;
            display: flex;
            line-height: 1.2175;
            white-space: nowrap;
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            align-items: center;
            border: solid 0.1rem #000000;
            flex-shrink: 0;
            overflow: hidden;
            font-size: 2rem;
            color: #000000;
            justify-content: center;
            box-sizing: border-box;
          }
          .email-Fxh {
            width: 18.9rem;
            font-size: 2rem;
            white-space: nowrap;
            border: solid 0.1rem #000000;
            overflow: hidden;
            font-weight: 500;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            display: flex;
            line-height: 1.2175;
            align-items: center;
            box-sizing: border-box;
            height: 100%;
            position: relative;
            justify-content: center;
            flex-shrink: 0;
          }
          .alamat-8mb {
            display: flex;
            font-size: 2rem;
            white-space: nowrap;
            align-items: center;
            height: 100%;
            color: #000000;
            border: solid 0.1rem #000000;
            flex-shrink: 0;
            line-height: 1.2175;
            overflow: hidden;
            justify-content: center;
            width: 18.7rem;
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            box-sizing: border-box;
            position: relative;
          }
          .telp-EJq {
            border: solid 0.1rem #000000;
            flex-shrink: 0;
            font-weight: 500;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            position: relative;
            display: flex;
            font-size: 2rem;
            height: 100%;
            font-family: Montserrat, 'Source Sans Pro';
            color: #000000;
            box-sizing: border-box;
            width: 16rem;
            overflow: hidden;
            line-height: 1.2175;
          }
          .wa-jFb {
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            align-items: center;
            border: solid 0.1rem #000000;
            overflow: hidden;
            line-height: 1.2175;
            width: 16rem;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            height: 100%;
            font-size: 2rem;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            position: relative;
          }
        }
        .id01-1iu {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 6.2rem;
          display: flex;

          .id-M25 {
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            height: 100%;
            color: #000000;
            overflow: hidden;
            font-size: 2rem;
            line-height: 1.2175;
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.75rem 3.1rem;
            position: relative;
            display: flex;
            border: solid 0.1rem #000000;
          }
          .nama-qC9 {
            border: solid 0.1rem #000000;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.65rem 1.2rem;
            width: 20rem;
            height: 100%;
            overflow: hidden;
            position: relative;

            .rendi-rizki-maulana-mbb {
              max-width: 11.9rem;
              display: flex;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .email-HK3 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.75rem 6.6rem;
            display: flex;
            border: solid 0.1rem #000000;
            height: 100%;
            overflow: hidden;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            position: relative;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
          }
          .alamat-yBs {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            box-sizing: border-box;
            padding: 0.75rem 5.8rem;
            height: 100%;
            overflow: hidden;
            display: flex;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #000000;
            position: relative;
            flex-shrink: 0;
          }
          .telp-vFX {
            height: 100%;
            display: flex;
            flex-shrink: 0;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            position: relative;
            font-weight: 500;
            color: #000000;
            white-space: nowrap;
            line-height: 1.2175;
            box-sizing: border-box;
            padding: 0.75rem 4.4rem;
            overflow: hidden;
            font-size: 2rem;
          }
          .wa-QRb {
            flex-shrink: 0;
            padding: 0.75rem 6.4rem 0.75rem 4.9rem;
            display: flex;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            height: 100%;
            overflow: hidden;
            color: #000000;
            position: relative;
            font-weight: 500;
            white-space: nowrap;
            font-size: 2rem;
          }
        }
        .id02-VC9 {
          width: 100%;
          height: 6.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .id-2Sy {
            box-sizing: border-box;
            font-size: 2rem;
            flex-shrink: 0;
            height: 100%;
            display: flex;
            border: solid 0.1rem #000000;
            padding: 0.75rem 2.7rem 0.75rem 3.1rem;
            font-weight: 500;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            line-height: 1.2175;
          }
          .nama-umf {
            box-sizing: border-box;
            padding: 0.65rem 1.9rem 0.65rem 1.2rem;
            width: 20rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            border: solid 0.1rem #000000;
            flex-shrink: 0;

            .muhhamad-rafli-akbar-SWh {
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              max-width: 16.9rem;
              display: flex;
              font-size: 2rem;
              font-weight: 500;
            }
          }
          .email-Ypd {
            overflow: hidden;
            display: flex;
            font-size: 2rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            height: 100%;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            padding: 0.75rem 6.6rem;
            position: relative;
            font-weight: 500;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .alamat-2jo {
            box-sizing: border-box;
            overflow: hidden;
            padding: 0.75rem 5.8rem;
            font-weight: 500;
            color: #000000;
            flex-shrink: 0;
            line-height: 1.2175;
            border: solid 0.1rem #000000;
            height: 100%;
            position: relative;
            display: flex;
            font-size: 2rem;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .telp-vaH {
            white-space: nowrap;
            border: solid 0.1rem #000000;
            height: 100%;
            overflow: hidden;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.75rem 4.4rem;
            line-height: 1.2175;
            display: flex;
            color: #000000;
            flex-shrink: 0;
            box-sizing: border-box;
            position: relative;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .wa-cCD {
            box-sizing: border-box;
            position: relative;
            height: 100%;
            display: flex;
            border: solid 0.1rem #000000;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            overflow: hidden;
            font-weight: 500;
            line-height: 1.2175;
            color: #000000;
            padding: 0.75rem 6.4rem 0.75rem 4.9rem;
            font-size: 2rem;
            white-space: nowrap;
          }
        }
        .id03-VG1 {
          width: 100%;
          height: 6.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .id-9bT {
            font-family: Montserrat, 'Source Sans Pro';
            height: 100%;
            overflow: hidden;
            line-height: 1.2175;
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            font-size: 2rem;
            padding: 0.75rem 2.7rem 0.75rem 3.1rem;
            font-weight: 500;
            color: #000000;
            border: solid 0.1rem #000000;
            position: relative;
            display: flex;
          }
          .nama-dFj {
            box-sizing: border-box;
            padding: 0.65rem 1.2rem;
            width: 20rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            border: solid 0.1rem #000000;
            flex-shrink: 0;

            .mario-andhika-arya-pangestu-mMw {
              max-width: 15.4rem;
              display: flex;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .email-5tR {
            height: 100%;
            font-size: 2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.75rem 6.6rem;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            font-weight: 500;
            color: #000000;
            overflow: hidden;
            position: relative;
            display: flex;
            white-space: nowrap;
          }
          .alamat-yD7 {
            position: relative;
            font-size: 2rem;
            font-weight: 500;
            box-sizing: border-box;
            padding: 0.75rem 5.8rem;
            color: #000000;
            flex-shrink: 0;
            height: 100%;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            overflow: hidden;
            display: flex;
            white-space: nowrap;
          }
          .telp-4kM {
            font-weight: 500;
            color: #000000;
            border: solid 0.1rem #000000;
            position: relative;
            font-size: 2rem;
            flex-shrink: 0;
            padding: 0.75rem 4.4rem;
            font-family: Montserrat, 'Source Sans Pro';
            display: flex;
            line-height: 1.2175;
            box-sizing: border-box;
            overflow: hidden;
            height: 100%;
            white-space: nowrap;
          }
          .wa-AHb {
            box-sizing: border-box;
            position: relative;
            font-weight: 500;
            border: solid 0.1rem #000000;
            overflow: hidden;
            font-size: 2rem;
            flex-shrink: 0;
            height: 100%;
            display: flex;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            padding: 0.75rem 6.4rem 0.75rem 4.9rem;
          }
        }
        .id04-qed {
          flex-shrink: 0;
          width: 100%;
          height: 6.2rem;
          display: flex;
          align-items: center;

          .id-yVw {
            padding: 0.75rem 2.5rem 0.75rem 3.1rem;
            font-weight: 500;
            box-sizing: border-box;
            font-size: 2rem;
            position: relative;
            display: flex;
            white-space: nowrap;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            flex-shrink: 0;
            height: 100%;
            overflow: hidden;
            line-height: 1.2175;
          }
          .nama-GE9 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.65rem 1.2rem;
            width: 20rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            border: solid 0.1rem #000000;

            .zufandri-nuzra-syifaa-c37 {
              max-width: 15.7rem;
              display: flex;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .email-KiD {
            height: 100%;
            overflow: hidden;
            font-weight: 500;
            box-sizing: border-box;
            padding: 0.75rem 6.6rem;
            position: relative;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2rem;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #000000;
          }
          .alamat-RmF {
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            position: relative;
            font-size: 2rem;
            color: #000000;
            flex-shrink: 0;
            padding: 0.75rem 5.8rem;
            line-height: 1.2175;
            white-space: nowrap;
            display: flex;
            box-sizing: border-box;
            height: 100%;
            overflow: hidden;
          }
          .telp-Jq3 {
            line-height: 1.2175;
            white-space: nowrap;
            font-weight: 500;
            position: relative;
            display: flex;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            overflow: hidden;
            height: 100%;
            color: #000000;
            box-sizing: border-box;
            font-size: 2rem;
            border: solid 0.1rem #000000;
            padding: 0.75rem 4.4rem;
          }
          .wa-CQd {
            line-height: 1.2175;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.75rem 6.4rem 0.75rem 4.9rem;
            font-weight: 500;
            height: 100%;
            overflow: hidden;
            font-size: 2rem;
            position: relative;
            display: flex;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #000000;
          }
        }
        .id05-HS5 {
          height: 6.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .id-Qmb {
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-shrink: 0;
            overflow: hidden;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2rem;
            font-weight: 500;
            border: solid 0.1rem #000000;
            color: #000000;
            padding: 0.75rem 2.7rem 0.75rem 3.1rem;
            height: 100%;
            line-height: 1.2175;
          }
          .nama-gUD {
            height: 100%;
            overflow: hidden;
            font-size: 2rem;
            font-weight: 500;
            white-space: nowrap;
            box-sizing: border-box;
            width: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            position: relative;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #000000;
          }
          .email-aJh {
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;
            font-family: Montserrat, 'Source Sans Pro';
            padding: 0.75rem 6.6rem;
            line-height: 1.2175;
            color: #000000;
            border: solid 0.1rem #000000;
            position: relative;
            display: flex;
            font-size: 2rem;
            overflow: hidden;
          }
          .alamat-TdP {
            box-sizing: border-box;
            position: relative;
            color: #000000;
            border: solid 0.1rem #000000;
            white-space: nowrap;
            overflow: hidden;
            font-size: 2rem;
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            line-height: 1.2175;
            flex-shrink: 0;
            padding: 0.75rem 5.8rem;
            height: 100%;
            display: flex;
          }
          .telp-xKF {
            padding: 0.75rem 4.4rem;
            display: flex;
            font-weight: 500;
            color: #000000;
            height: 100%;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            overflow: hidden;
            font-size: 2rem;
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            position: relative;
            line-height: 1.2175;
          }
          .wa-F3T {
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            overflow: hidden;
            flex-shrink: 0;
            padding: 0.75rem 6.4rem 0.75rem 4.9rem;
            height: 100%;
            line-height: 1.2175;
            color: #000000;
            white-space: nowrap;
            box-sizing: border-box;
            position: relative;
            display: flex;
            font-size: 2rem;
            border: solid 0.1rem #000000;
          }
        }
        .id06-8N9 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 6.2rem;

          .id-TvD {
            height: 100%;
            white-space: nowrap;
            display: flex;
            font-size: 2rem;
            line-height: 1.2175;
            color: #000000;
            border: solid 0.1rem #000000;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.75rem 2.6rem 0.75rem 3.1rem;
            overflow: hidden;
            position: relative;
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .nama-MEu {
            justify-content: center;
            overflow: hidden;
            font-size: 2rem;
            white-space: nowrap;
            box-sizing: border-box;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            border: solid 0.1rem #000000;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            width: 20rem;
            font-weight: 500;
            flex-shrink: 0;
          }
          .email-Sn9 {
            box-sizing: border-box;
            position: relative;
            display: flex;
            line-height: 1.2175;
            height: 100%;
            font-weight: 500;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            padding: 0.75rem 6.6rem;
            overflow: hidden;
            font-size: 2rem;
            flex-shrink: 0;
            white-space: nowrap;
          }
          .alamat-LsX {
            height: 100%;
            position: relative;
            display: flex;
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            overflow: hidden;
            font-size: 2rem;
            color: #000000;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.75rem 5.8rem;
            line-height: 1.2175;
            border: solid 0.1rem #000000;
          }
          .telp-3X3 {
            line-height: 1.2175;
            color: #000000;
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            font-family: Montserrat, 'Source Sans Pro';
            height: 100%;
            font-weight: 500;
            border: solid 0.1rem #000000;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.75rem 4.4rem;
            position: relative;
            font-size: 2rem;
          }
          .wa-kAZ {
            font-weight: 500;
            line-height: 1.2175;
            flex-shrink: 0;
            position: relative;
            font-size: 2rem;
            font-family: Montserrat, 'Source Sans Pro';
            box-sizing: border-box;
            height: 100%;
            display: flex;
            color: #000000;
            white-space: nowrap;
            border: solid 0.1rem #000000;
            padding: 0.75rem 6.4rem 0.75rem 4.9rem;
            overflow: hidden;
          }
        }
      }
      .next-prev-Qku {
        align-items: center;
        margin: 0rem 41.9rem 0rem 40.8rem;
        width: calc(100% - 82.7rem);
        height: 2.5rem;
        overflow: hidden;
        position: relative;
        display: flex;

        .chevron-right-uBs {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3rem;
          width: 3rem;
          height: 2.2rem;
          object-fit: contain;
        }
        .frame-8-2XP {
          flex-shrink: 0;
          width: 3rem;
          overflow: hidden;
          position: relative;
          font-size: 2rem;
          white-space: nowrap;
          justify-content: center;
          font-weight: 500;
          line-height: 1.2175;
          margin: 0.15rem 1.4rem 0.05rem 0rem;
          display: flex;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          box-sizing: border-box;
          height: calc(100% - 0.2rem);
          border: solid 0.1rem #000000;
        }
        .item-99-tJh {
          margin-right: 0.9rem;
          font-size: 2rem;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          display: flex;
          line-height: 1.2175;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .chevron-right-CaH {
          height: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3rem;
        }
      }
    }
  }
}
