
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.home-ex-2yB {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .main-header-xbw {
    width: 100%;
    position: relative;
    padding: 1.3rem 8rem 1.6rem 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #ededed;
    flex-shrink: 0;
    box-sizing: border-box;

    .main-header-fWM {
      width: 87.3rem;
      height: calc(100% - 0.3rem);
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin: 0.1rem 24rem 0.2rem 0rem;

      .header-n5B {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .rose-royal-wTs {
          font-weight: 800;
          line-height: 1.2175;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 11.8rem;
          display: flex;
          font-size: 3.5rem;
          color: #484848;
        }
        .header-navigations-S9j {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin: 1.2rem 0rem 0.5rem 0rem;
          height: calc(100% - 1.7rem);

          .beranda-kgD {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.9rem;
          }
          .active-category-5yP {
            margin-right: 9.7rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .presidential-room-2Nq {
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.3rem;
              font-size: 1.6rem;
              font-weight: 600;
            }
            .active-line-9yF {
              margin-left: 0.1rem;
              width: 4rem;
              height: 0.3rem;
              background-color: #000000;
              flex-shrink: 0;
            }
          }
          .kontak-HZf {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #000000;
            flex-shrink: 0;
            margin-right: 8.7rem;
            cursor: pointer;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .tentang-cbw {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #000000;
          }
        }
      }
    }
    .initial-options-ius {
      width: 9.8rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .auth-btn-3BT {
        width: 100%;
        cursor: pointer;
        border-radius: 2.3rem;
        height: 100%;
        line-height: 1.2175;
        align-items: center;
        justify-content: center;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        display: flex;
        background-color: #ffffff;
        font-size: 2.4rem;
        font-weight: 700;
        white-space: nowrap;
      }
    }
  }
  .bg-image-FYR {
    width: 136.6rem;
    height: 57.2rem;
    position: relative;
    background-size: 100% 114.675%;
    background-position: -0rem -1.5471rem;
    background-image: url('REPLACE_IMAGE:0f9b3df04f96b303e665ecde886d58f1d6c23d2c');
    flex-shrink: 0;
  }
  .auto-group-hbej-JWh {
    padding: 8.8rem 6.2rem 8rem 6.2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .rekomendasi-nAy {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 9.1rem 1.7rem;

      .daftar-rekomendasi-kamar-gGM {
        line-height: 1.3333333333;
        color: #484848;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 3.1rem;
        max-width: 38.7rem;
        font-size: 3.6rem;
        font-weight: 700;
      }
      .rectangle-68-xzZ {
        flex-shrink: 0;
        margin: 0rem 0rem 6.4rem 0.2rem;
        width: 14rem;
        height: 0.6rem;
        background-color: #484848;
        border-radius: 0.3rem;
      }
      .auto-group-uyu7-q2m {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: 0.1rem;
        height: 34rem;

        .presidential-vpu {
          background-image: url('REPLACE_IMAGE:a25fa4b6f07d85ac1cf22f01897be3d514de12ea');
          flex-shrink: 0;
          box-sizing: border-box;
          font-family: Montserrat, 'Source Sans Pro';
          color: #ffffff;
          background-size: 183.129% 100%;
          font-weight: 700;
          line-height: 2.8235294118;
          background-position: -11.5964rem 0rem;
          padding: 26.6rem 6.4rem 2.6rem 5.8rem;
          height: 100%;
          white-space: nowrap;
          border-radius: 0.8rem;
          margin-right: 3rem;
          font-size: 1.7rem;

          .presidential-vpu-bg {
            height: 34rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:a25fa4b6f07d85ac1cf22f01897be3d514de12ea');
            width: 27.9rem;
          }
        }
        .family-gxV {
          margin-right: 3.9rem;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          background-position: center;
          border-radius: 0.8rem;
          white-space: nowrap;
          flex-shrink: 0;
          padding: 26.6rem 8.2rem 2.6rem 8rem;
          font-size: 1.7rem;
          font-weight: 700;
          background-repeat: no-repeat;
          box-sizing: border-box;
          height: 100%;
          line-height: 2.8235294118;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:720cb09e51f2fec0b4736719cf909c70e28d25fc');
        }
        .double-9LH {
          box-sizing: border-box;
          background-position: center;
          font-size: 1.7rem;
          background-image: url('REPLACE_IMAGE:e4c3e65824a647b91b207275cc57e2e6e82e4332');
          flex-shrink: 0;
          padding: 26.6rem 8.9rem 2.6rem 6.8rem;
          height: 100%;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border-radius: 0.8rem;
          margin-right: 3.9rem;
          font-weight: 700;
          line-height: 2.8235294118;
          color: #ffffff;
        }
        .single-oQq {
          font-size: 1.7rem;
          background-position: center;
          font-weight: 700;
          color: #ffffff;
          box-sizing: border-box;
          padding: 26.6rem 10.4rem 2.6rem 6.2rem;
          background-image: url('REPLACE_IMAGE:7c0c29072f9b291d418e534e8602311d428ed1d1');
          border-radius: 0.8rem;
          flex-shrink: 0;
          height: 100%;
          line-height: 2.8235294118;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
    }
    .fasilitas-G3X {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 1.8rem 7.9rem 1.7rem;
      width: calc(100% - 3.5rem);
      overflow: hidden;
      position: relative;
      display: flex;

      .berbagai-fasilitas-umum-nGm {
        max-width: 33.5rem;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.3333333333;
        color: #484848;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 3.1rem;
      }
      .outline-VS5 {
        border-radius: 0.3rem;
        flex-shrink: 0;
        margin: 0rem 0rem 6.4rem 0.2rem;
        width: 14rem;
        height: 0.6rem;
        background-color: #484848;
      }
      .auto-group-r1tf-bzu {
        display: flex;
        column-gap: 3rem;
        align-items: center;
        flex-shrink: 0;
        margin-left: 0.1rem;
        height: 34rem;

        .rokok-Kg1 {
          font-weight: 700;
          line-height: 2.8235294118;
          background-size: 100% 100%;
          background-position: center;
          box-sizing: border-box;
          font-size: 1.7rem;
          flex-shrink: 0;
          padding: 26.6rem 7.8rem 2.6rem 7.6rem;
          height: 100%;
          background-image: url('REPLACE_IMAGE:894902306d29df50d553bf6e43c44faea3e41ded');
          border-radius: 0.8rem;
          color: #ffffff;
          white-space: nowrap;
          font-family: Montserrat, 'Source Sans Pro';
          background-repeat: no-repeat;
        }
        .kolam-BTK {
          height: 100%;
          font-size: 1.7rem;
          font-weight: 700;
          box-sizing: border-box;
          padding: 26.6rem 7.6rem 2.6rem 7.2rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:ac107c49cfcb28b939b78b14a1570de44f0dd607');
          font-family: Montserrat, 'Source Sans Pro';
          background-position: center;
          border-radius: 0.8rem;
          flex-shrink: 0;
          line-height: 2.8235294118;
          color: #fdfdfd;
          white-space: nowrap;
          background-size: 100% 100%;
        }
        .tunggu-d4R {
          padding: 26.6rem 7.4rem 2.6rem 7.2rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          background-position: -6.4rem 0;
          border-radius: 0.8rem;
          font-weight: 700;
          color: #ffffff;
          flex-shrink: 0;
          font-size: 1.7rem;
          line-height: 2.8235294118;
          background-size: 181.262% 101.471%;
          box-sizing: border-box;
          height: 100%;
          background-image: url('REPLACE_IMAGE:680a31b914862c21c194385bc3adfbae0aec4fa0');

          .tunggu-d4R-bg {
            position: relative;
            background-image: url('REPLACE_IMAGE:680a31b914862c21c194385bc3adfbae0aec4fa0');
            width: 27.9rem;
            height: 34rem;
          }
        }
        .parkir-dTj {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 0.8rem;
          height: 100%;
          color: #ffffff;
          font-size: 1.7rem;
          font-weight: 700;
          background-repeat: no-repeat;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 26.6rem 9.3rem 2.6rem 8.6rem;
          background-image: url('REPLACE_IMAGE:6438802f5ea371e57f72f4490149dbb7860be3da');
          background-position: center;
          line-height: 2.8235294118;
          background-size: 100% 100%;
        }
      }
    }
    .temukan-gS1 {
      padding: 8.7rem 9.5rem 10.3rem 9.5rem;
      overflow: hidden;
      background-size: 100% 100%;
      background-position: center;
      border-radius: 1.2rem;
      background-image: url('REPLACE_IMAGE:cef4fc81a27074b3387cc01a614df799abbaf30d');
      flex-shrink: 0;
      margin: 0rem 3.6rem 6.3rem 0rem;
      box-sizing: border-box;
      width: 120.6rem;
      position: relative;
      background-repeat: no-repeat;

      .temukan-kamar-sesuai-kebutuhan-yg1 {
        margin-bottom: 4.1rem;
        max-width: 35.6rem;
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 1.3684210526;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .cari-Hgh {
        font-weight: 800;
        height: 6rem;
        font-size: 1.5rem;
        white-space: nowrap;
        width: 22rem;
        font-family: Montserrat, 'Source Sans Pro';
        justify-content: center;
        background-color: #6f6f6f;
        border-radius: 3rem;
        margin-left: 5.1rem;
        line-height: 1.2175;
        color: #ffffff;
        display: flex;
        align-items: center;
      }
    }
    .rating-tertinggi-9U1 {
      width: calc(100% - 4rem);
      height: 53.7rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0rem 1.6rem;

      .auto-group-wjrb-fSM {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rating-tertinggi-DCy {
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 3.1rem;
          max-width: 17.2rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.3333333333;
          color: #484848;
        }
        .rectangle-68-vt5 {
          width: 14rem;
          height: 0.6rem;
          background-color: #484848;
          border-radius: 0.3rem;
          flex-shrink: 0;
          margin: 0rem 0rem 6.4rem 0.2rem;
        }
        .rating-layanan-rFw {
          box-sizing: border-box;
          flex-direction: column;
          background-size: 100% 100%;
          background-position: center;
          border-radius: 0.8rem;
          background-image: url('REPLACE_IMAGE:8fe1e859403686189de57a86b1f5f027cbe71c18');
          flex-shrink: 0;
          margin-left: 1.4rem;
          padding: 2.6rem 3.85rem 2.4rem 3.7rem;
          width: 27.9rem;
          align-items: center;
          display: flex;
          background-repeat: no-repeat;

          .rating-layanan-MTb {
            white-space: nowrap;
            margin: 0rem 0rem 23.6rem 0.35rem;
            text-align: center;
            font-size: 1.5rem;
            color: #ffffff;
            font-weight: 800;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .bintang-5-FYy {
            width: 100%;
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .star-1HF {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.25rem;
              width: 4.05rem;
              height: 3.5rem;
            }
            .auto-group-mcvh-wgh {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              width: 16.05rem;

              .star-HEm {
                height: 3.5rem;
                position: absolute;
                left: 12rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
              }
              .star-DeD {
                height: 3.5rem;
                position: absolute;
                left: 8rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
              }
              .star-xLu {
                height: 3.5rem;
                position: absolute;
                left: 4rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
              }
              .star-hJV {
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
                height: 3.5rem;
              }
            }
          }
        }
      }
      .auto-group-7tsu-bem {
        box-sizing: border-box;
        padding: 19.7rem 0rem 0rem 2.6rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .rating-kamar-vBF {
          background-image: url('REPLACE_IMAGE:75ea065f5e7007f825a40fdce944962be7ed0eb4');
          flex-shrink: 0;
          margin-right: 2.1rem;
          box-sizing: border-box;
          padding: 2.6rem 3.85rem 2.4rem 3.7rem;
          background-size: 100% 100%;
          display: flex;
          background-repeat: no-repeat;
          align-items: center;
          border-radius: 0.8rem;
          width: 27.9rem;
          height: 100%;
          flex-direction: column;
          background-position: center;

          .rating-kamar-qJD {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 800;
            line-height: 1.2175;
            margin: 0rem 0rem 23.6rem 0.15rem;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .bintang-6-kAH {
            flex-shrink: 0;
            width: 100%;
            height: 3.5rem;
            display: flex;
            align-items: center;

            .star-tGV {
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.25rem;
              width: 4.05rem;
            }
            .auto-group-cypz-pfw {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              width: 16.05rem;

              .star-ZtR {
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
                height: 3.5rem;
                position: absolute;
                left: 12rem;
              }
              .star-Jb7 {
                left: 8rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
                height: 3.5rem;
                position: absolute;
              }
              .star-e9B {
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
                height: 3.5rem;
                position: absolute;
                left: 4rem;
              }
              .star-nWH {
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
              }
            }
          }
        }
        .rating-makanan-t3X {
          margin-right: 2.5rem;
          background-repeat: no-repeat;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-size: 100% 100%;
          background-position: center;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 100%;
          border-radius: 0.8rem;
          padding: 2.6rem 3.85rem 2.4rem 3.7rem;
          width: 27.9rem;
          background-image: url('REPLACE_IMAGE:0e5090c961ff1a4a32218964ac922047df215171');

          .rating-makanan-bTj {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 800;
            white-space: nowrap;
            margin: 0rem 0rem 23.6rem 0.15rem;
            line-height: 1.2175;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .bintang-7-K8q {
            width: 100%;
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .star-581 {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.25rem;
              width: 4.05rem;
              height: 3.5rem;
              object-fit: contain;
            }
            .auto-group-yotp-RBs {
              width: 16.05rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .star-yDP {
                left: 12rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
                height: 3.5rem;
                position: absolute;
              }
              .star-Wz1 {
                left: 8rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
                height: 3.5rem;
                position: absolute;
              }
              .star-UA9 {
                height: 3.5rem;
                position: absolute;
                left: 4rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
              }
              .star-QZb {
                vertical-align: top;
                width: 4.05rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
              }
            }
          }
        }
        .rating-parkir-umF {
          padding: 2.6rem 3.85rem 2.4rem 3.7rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:6438802f5ea371e57f72f4490149dbb7860be3da');
          box-sizing: border-box;
          width: 27.9rem;
          align-items: center;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .rating-parkir-dx9 {
            color: #ffffff;
            white-space: nowrap;
            font-weight: 800;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 23.6rem 0.15rem;
            text-align: center;
            font-size: 1.5rem;
          }
          .bintang-6-whw {
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;

            .star-J2h {
              width: 4.05rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.25rem;
            }
            .auto-group-rtcf-SPo {
              position: relative;
              flex-shrink: 0;
              width: 16.05rem;
              height: 100%;

              .star-b1o {
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
                height: 3.5rem;
                position: absolute;
                left: 12rem;
                top: 0;
              }
              .star-w5f {
                height: 3.5rem;
                position: absolute;
                left: 8rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 4.05rem;
              }
              .star-Gdj {
                width: 4.05rem;
                height: 3.5rem;
                position: absolute;
                left: 4rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
              }
              .star-1bK {
                width: 4.05rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
  }
  .footer-hyw {
    width: 100%;
    position: relative;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 7.2rem 0rem 4.2rem 0rem;
    background-color: #eff0f2;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;

    .auto-group-ylys-e8V {
      width: calc(100% - 26.9rem);
      height: 24.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 18.9rem 19.9rem 8rem;

      .footer-about-N4V {
        width: 37.8rem;
        height: 100%;
        flex-shrink: 0;

        .rose-royal-uaD {
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 4.4rem;
          font-size: 3.5rem;
          font-weight: 800;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-dm7 {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3333333333;
          color: #9a9a9a;
          font-family: Montserrat, 'Source Sans Pro';
          margin-bottom: 4.3rem;
          max-width: 37.8rem;
        }
        .auto-group-rtqx-JcM {
          display: flex;
          align-items: center;
          margin-right: 2.1rem;
          width: calc(100% - 2.1rem);
          height: 5.2rem;

          .playstore-eAR {
            padding: 0.9rem 3.2rem 0.9rem 1.9rem;
            flex-shrink: 0;
            margin-right: 1.3rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #e0e2e6;
            border-radius: 0.6rem;
            box-sizing: border-box;

            .google-play-ZoB {
              margin-right: 1.3rem;
              width: 3.4rem;
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .playstore-huP {
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .applestore-1QH {
            box-sizing: border-box;
            padding: 0.9rem 2.5rem 0.9rem 2.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #e0e2e6;
            border-radius: 0.6rem;
            flex-shrink: 0;

            .app-symbol-LSZ {
              margin-right: 0.5rem;
              width: 3.4rem;
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .applestore-Gr1 {
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.2175;
            }
          }
        }
      }
      .auto-group-wvgb-bNV {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.4rem 0rem 2.4rem 5.2rem;
        height: 100%;

        .company-XG9 {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 8.8rem;
          display: flex;

          .perusahaan-USH {
            font-weight: 700;
            line-height: 1.1111111111;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
            font-size: 1.8rem;
          }
          .tentang-1SD {
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .informasi-k8u {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
          }
        }
        .help-center-UKo {
          margin-right: 5.1rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .pusat-bantuan-pPf {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.1111111111;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
          }
          .temukan-kamar-xEy {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
          }
          .layanan-pelanggan-gwf {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-ts31-2Vj {
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          display: flex;

          .contact-info-PLH {
            flex-shrink: 0;
            margin: 0rem 0rem 3.6rem 0.9rem;
            display: flex;
            flex-direction: column;

            .kontak-v5K {
              font-weight: 700;
              line-height: 1.1111111111;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.9rem;
              font-size: 1.8rem;
            }
            .telepon-1234567890-Tb3 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .email-roseroyalhotelemailcom-ndK {
              line-height: 1.3333333333;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 500;
            }
            .lokasi-yogyakarta-iG5 {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
              color: #484848;
            }
          }
          .frame-14-3ZF {
            display: flex;
            column-gap: 1.9rem;
            align-items: center;
            flex-shrink: 0;

            .facebook-NbX {
              flex-shrink: 0;
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
            }
            .twitter-Wxd {
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .instagram-circle-FfK {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 3.5rem;
            }
            .linkedin-bjB {
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
            }
          }
        }
      }
    }
    .copyrights-LAy {
      width: 100%;
      text-align: right;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.25;
      color: #484848;
      font-family: Montserrat, 'Source Sans Pro';
      padding: 4rem 7.9rem 0rem 97.5rem;
      white-space: nowrap;
      border-top: solid 0.1rem #e0e2e6;
      flex-shrink: 0;
      box-sizing: border-box;
    }
  }
}
