
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.room-ex-VyX {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
  width: 100%;

  .auto-group-bpjb-qXb {
    box-sizing: border-box;
    padding: 0.5rem 0;
    width: 100%;
    height: 8rem;
    background-color: #eff0f2;
    flex-shrink: 0;

    .main-header-NXX {
      padding: 1.3rem 8rem 1.1rem 7.5rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      background-color: rgba(238, 238, 238, 0.9333333373);
      box-sizing: border-box;

      .main-header-VMF {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin: 0.1rem 24rem 0.2rem 0rem;
        width: 87.3rem;
        height: calc(100% - 0.3rem);

        .header-D2M {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .rose-royal-mZf {
            font-weight: 800;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.8rem;
            display: flex;
            font-size: 3.5rem;
            line-height: 1.2175;
            color: #484848;
          }
          .header-navigations-4of {
            flex-shrink: 0;
            margin: 1.2rem 0rem 0.5rem 0rem;
            height: calc(100% - 1.7rem);
            display: flex;
            align-items: flex-start;

            .beranda-an1 {
              margin-right: 7.9rem;
              cursor: pointer;
              font-size: 1.6rem;
              color: #000000;
              white-space: nowrap;
              font-weight: 600;
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .active-category-JT7 {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.7rem;

              .presidential-room-f2m {
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.3rem;
                font-size: 1.6rem;
                font-weight: 600;
              }
              .active-line-NSy {
                width: 4rem;
                height: 0.3rem;
                background-color: #000000;
                flex-shrink: 0;
                margin-left: 0.1rem;
              }
            }
            .kontak-5sB {
              font-size: 1.6rem;
              color: #000000;
              white-space: nowrap;
              margin-right: 8.7rem;
              cursor: pointer;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              font-weight: 600;
              line-height: 1.2175;
            }
            .tentang-1kq {
              font-weight: 600;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              font-size: 1.6rem;
            }
          }
        }
      }
      .initial-options-96M {
        width: 9.8rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .auth-btn-tZj {
          height: 100%;
          align-items: center;
          justify-content: center;
          line-height: 1.2175;
          color: #000000;
          display: flex;
          font-weight: 700;
          white-space: nowrap;
          border-radius: 2.3rem;
          width: 100%;
          cursor: pointer;
          font-size: 2.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #ffffff;
        }
      }
    }
  }
  .auto-group-xe1h-YeH {
    padding: 8.9rem 2.1rem 8.4rem 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .types-and-filters-sRf {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 49.2rem 6.3rem 6.5rem;
      width: calc(100% - 55.7001rem);
      height: 3.2rem;
      overflow: hidden;
      position: relative;

      .active-category-yzV {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .presidential-room-wRX {
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .active-line-GTo {
          background-color: #484848;
          flex-shrink: 0;
          width: 5.7241rem;
          height: 0.3rem;
        }
      }
      .auto-group-ypyo-CsF {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 1.4rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .ellipse-9-8ku {
          border-radius: 0.3rem;
          flex-shrink: 0;
          margin: 0.8rem 2.2rem 0rem 0rem;
          width: 0.6rem;
          height: 0.6rem;
          background-color: #c2c6cc;
        }
        .family-room-qfK {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.6rem;
        }
        .ellipse-10-mYy {
          height: 0.6rem;
          background-color: #c2c6cc;
          border-radius: 0.3rem;
          flex-shrink: 0;
          margin: 0.8rem 2rem 0rem 0rem;
          width: 0.6rem;
        }
        .double-room-VE5 {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.1rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2175;
          color: #484848;
        }
        .ellipse-11-ESZ {
          border-radius: 0.3rem;
          flex-shrink: 0;
          margin: 0.8rem 2.8rem 0rem 0rem;
          width: 0.6rem;
          height: 0.6rem;
          background-color: #c2c6cc;
        }
        .twin-room-mau {
          flex-shrink: 0;
          margin-right: 3.3rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .ellipse-12-6t5 {
          width: 0.6rem;
          height: 0.6rem;
          background-color: #c2c6cc;
          border-radius: 0.3rem;
          flex-shrink: 0;
          margin: 0.8rem 2.2rem 0rem 0rem;
        }
        .single-room-Dho {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2175;
          color: #484848;
        }
      }
    }
    .image-gallery-MZ7 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 8.7441rem;
      width: 100%;
      height: 49.2559rem;

      .rectangle-7-hN5 {
        height: 49.2559rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.6rem;
        flex-shrink: 0;
        width: 66.6994rem;
      }
      .auto-group-mluh-qDP {
        padding: 0.091rem 0rem 0rem 1.695rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-zj3v-ZQH {
          margin-right: 1.7946rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-8-Voj {
            margin-bottom: 1.7331rem;
            width: 31.4055rem;
            height: 23.7158rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
          }
          .rectangle-11-RSV {
            width: 31.4055rem;
            height: 23.7158rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
          }
        }
        .auto-group-a2vh-Mb3 {
          flex-direction: column;
          flex-shrink: 0;
          width: 31.4055rem;
          height: 100%;
          align-items: center;
          display: flex;

          .rectangle-10-JmB {
            margin-bottom: 1.7331rem;
            width: 31.4055rem;
            height: 23.7158rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
          }
          .auto-group-dwcf-2x5 {
            padding: 9.121rem 9.85rem 8.694rem 7.577rem;
            width: 100%;
            height: 23.7158rem;
            background-position: center;
            background-image: url('REPLACE_IMAGE:ff5b91fb11efb020ab1666c7e1ee60a29dec5c00');
            border-radius: 0.8rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            flex-shrink: 0;

            .item-2-MzM {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.5781rem;
              font-size: 4.8rem;
              font-weight: 700;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .auto-group-ggpj-6S9 {
              width: 6.7rem;
              height: calc(100% - 2.0581rem);
              position: relative;
              flex-shrink: 0;
              margin: 0.912rem 0rem 1.146rem 0rem;

              .more-cQV {
                top: 0;
                font-weight: 600;
                font-family: Montserrat, 'Source Sans Pro';
                width: 3.7rem;
                height: 1.8rem;
                position: absolute;
                left: 0;
                font-size: 1.4rem;
                line-height: 1.2175;
                color: #484848;
                white-space: nowrap;
              }
              .photos-Kph {
                width: 6.7rem;
                position: absolute;
                font-size: 1.8rem;
                font-family: Montserrat, 'Source Sans Pro';
                height: 2.2rem;
                left: 0;
                top: 1.6419rem;
                font-weight: 700;
                line-height: 1.2175;
                color: #484848;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .auto-group-jxw7-akd {
      width: calc(100% - 12.8001rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.3rem 11.6rem 6.5rem;

      .auto-group-75qd-iM3 {
        flex-shrink: 0;
        margin: 0.7rem 7.7rem 0rem 0rem;
        width: 74.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .main-amenities-3eD {
          flex-shrink: 0;
          margin: 0rem 9.5rem 4.4rem 8rem;
          width: calc(100% - 17.5rem);
          height: 16.3rem;
          position: relative;
          align-items: flex-end;
          box-sizing: border-box;
          padding: 1.2rem 1.4rem 0rem 0rem;
          overflow: hidden;
          display: flex;

          .auto-group-rkwm-89s {
            margin-right: 1.4rem;
            height: 16rem;
            flex-direction: column;
            background-color: #eff0f2;
            flex-shrink: 0;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 4rem 2.8rem 4.2rem 2.4rem;
            width: 17.6rem;
            align-items: center;
            display: flex;

            .bed-e8D {
              margin: 0rem 0rem 1.8rem 0.4rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .tempat-tidur-myX {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-7gqr-toF {
            align-items: center;
            flex-direction: column;
            margin-right: 1.3rem;
            box-sizing: border-box;
            padding: 4rem 3rem 4.2rem 2.1rem;
            width: 17.6rem;
            height: 16rem;
            display: flex;
            background-color: #eff0f2;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .bathtub-cUM {
              margin: 0rem 0rem 1.8rem 0.3rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .kamar-mandi-9UH {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .auto-group-gov3-UmT {
            width: 17.6rem;
            background-color: #eff0f2;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 4rem 2.15rem 2.3rem 2.15rem;
            height: 16rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 0.8rem;

            .hennessey-venom-zE1 {
              margin-bottom: 1.8rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .mobil-2-motor-vvip-XDw {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 13.3rem;
            }
          }
        }
        .description-dXs {
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;

          .deskripsi-kamar-NkM {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.1rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2175;
            color: #484848;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-i3X {
            font-weight: 400;
            line-height: 1.3333333333;
            color: #9a9a9a;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 74.4rem;
            font-size: 1.5rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-jjK {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.3333333333;
            color: #9a9a9a;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 74.4rem;
          }
        }
      }
      .side-bar-ytZ {
        display: flex;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 2.959rem 2.673rem 1.8rem 2.9rem;
        width: 38.1rem;
        flex-direction: column;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        box-sizing: border-box;
        align-items: center;

        .rp-5000000-uXK {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 16.979rem 1.802rem 0rem;
        }
        .line-15-diD {
          margin: 0rem 0rem 2.539rem 0.124rem;
          width: 32.4025rem;
          height: 0.1rem;
          background-color: #e0e2e6;
          flex-shrink: 0;
        }
        .full-btn-Zbs {
          display: flex;
          align-items: center;
          height: 4.9111rem;
          font-size: 1.5rem;
          font-weight: 700;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          border-radius: 3rem;
          margin: 0rem 0.224rem 3.789rem 0rem;
          width: 32.3028rem;
          cursor: pointer;
          line-height: 1.2175;
          white-space: nowrap;
          flex-shrink: 0;
          justify-content: center;
          background-color: #484848;
        }
        .auto-group-jbp7-drd {
          margin: 0rem 12.17rem 0rem 11.2rem;
          width: calc(100% - 23.3699rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .outgoing-call-xtu {
            margin-right: 0.6568rem;
            width: 2.5rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .kontak-hrV {
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.2175;
          }
        }
      }
    }
    .offered-amenities-CoF {
      margin: 0rem 0rem 1rem 6.5rem;
      box-sizing: border-box;
      padding: 0.9rem 0rem 1rem 0rem;
      width: 59.3rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .fasilitas-uhf {
        color: #484848;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.5rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.2175;
      }
      .auto-group-h5xr-ev9 {
        height: 3.5rem;
        display: flex;
        align-items: center;
        margin-bottom: 1.8rem;

        .auto-group-hpy7-P73 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 23.8rem 0.1rem 0rem;
          height: 100%;

          .restaurant-if7 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.3rem;
            width: 3rem;
            height: 3rem;
          }
          .dapur-rWR {
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2175;
          }
        }
        .tv-show-oAm {
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.8rem;
        }
        .televisi-android-MCH {
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .auto-group-qumm-69s {
        margin: 0rem 0rem 1.2rem 0.1rem;
        display: flex;
        align-items: center;

        .air-conditioner-Rhw {
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.1rem;
          width: 3rem;
        }
        .pendingin-ruangan-a53 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 12.7rem 0.8rem 0rem;
        }
        .wi-fi-connected-trR {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.2rem;
        }
        .free-wifi-EvH {
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
      .auto-group-gpdr-Bad {
        margin-bottom: 3.4rem;
        display: flex;
        align-items: center;

        .washing-machine-w41 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.8rem 0.2rem 0rem;
          width: 3.5rem;
          height: 3.5rem;
        }
        .mesin-cuci-4eR {
          margin: 0rem 20.3rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .balcony-Byw {
          margin: 0.7rem 2.1rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .balkon-KKT {
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .bordered-btn-TgZ {
        font-family: Montserrat, 'Source Sans Pro';
        display: flex;
        border: solid 0.1rem #484848;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 24.2rem;
        line-height: 1.2175;
        font-size: 1.5rem;
        white-space: nowrap;
        font-weight: 600;
        border-radius: 0.6rem;
        align-items: center;
        justify-content: center;
        height: 6rem;
        color: #484848;
      }
    }
    .saftey-9ZP {
      padding-top: 1.9rem;
      width: 63.7rem;
      height: 15.1rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin-left: 6.5rem;
      box-sizing: border-box;

      .keamanan-dan-kebersihan-5T3 {
        margin: 0rem 0rem 2.9rem 0.1rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #484848;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-gsek-15o {
        margin-bottom: 1.7rem;
        width: 64.3rem;
        display: flex;
        align-items: center;

        .trash-YbX {
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 3rem;
        }
        .kebersihan-67F {
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 20.5rem 0.2rem 0rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
        }
        .fire-sprinkler-pZ3 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.5rem;
          width: 3rem;
          height: 3rem;
        }
        .pemadam-kebakaran-otomatis-Acu {
          font-weight: 500;
          line-height: 1.2175;
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1.6rem;
        }
      }
      .auto-group-fapd-HxR {
        height: 3.2rem;
        display: flex;
        align-items: center;

        .disposal-3Ro {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.6rem;
          width: 3.2rem;
          height: 3.2rem;
        }
        .lingkungan-sehat-dan-bersih-yKT {
          color: #484848;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2175;
        }
        .auto-group-kvwb-H5F {
          box-sizing: border-box;
          padding: 0.2rem 0rem 0rem 5.9rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .smoke-detector-Qff {
            flex-shrink: 0;
            margin-right: 1.5rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
          }
          .sensor-asap-wfb {
            margin-bottom: 0.2rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .footer-Tdw {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.2rem 0rem 4.2rem 0rem;
    width: 100%;
    overflow: hidden;
    background-color: #eff0f2;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-piv9-ayT {
      margin: 0rem 18.9rem 19.9rem 8rem;
      width: calc(100% - 26.9rem);
      height: 24.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .footer-about-h2V {
        flex-shrink: 0;
        width: 37.8rem;
        height: 100%;

        .rose-royal-SVs {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 4.4rem;
          font-size: 3.5rem;
          font-weight: 800;
          line-height: 1.2175;
          color: #484848;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-mo3 {
          max-width: 37.8rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3333333333;
          color: #9a9a9a;
          font-family: Montserrat, 'Source Sans Pro';
          margin-bottom: 4.3rem;
        }
        .auto-group-ep7r-r3o {
          align-items: center;
          margin-right: 2.1rem;
          width: calc(100% - 2.1rem);
          height: 5.2rem;
          display: flex;

          .playstore-nTF {
            box-sizing: border-box;
            height: 100%;
            display: flex;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin-right: 1.3rem;
            padding: 0.9rem 3.2rem 0.9rem 1.9rem;
            align-items: center;
            background-color: #e0e2e6;

            .google-play-GtD {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 3.4rem;
              height: 3.4rem;
            }
            .playstore-p93 {
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.2175;
            }
          }
          .applestore-7tq {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 2.5rem 0.9rem 2.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #e0e2e6;
            border-radius: 0.6rem;

            .app-symbol-dsB {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.5rem;
              width: 3.4rem;
              height: 3.4rem;
            }
            .applestore-xuT {
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.2175;
            }
          }
        }
      }
      .auto-group-jrus-t2R {
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.4rem 0rem 2.4rem 5.2rem;

        .company-1cq {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 8.8rem;

          .perusahaan-AEq {
            font-weight: 700;
            line-height: 1.1111111111;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
            font-size: 1.8rem;
          }
          .tentang-6eH {
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .informasi-EEh {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
          }
        }
        .help-center-mEd {
          margin-right: 5.1rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .pusat-bantuan-Wxu {
            font-weight: 700;
            line-height: 1.1111111111;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
            font-size: 1.8rem;
          }
          .temukan-kamar-ZAV {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
            color: #484848;
          }
          .layanan-pelanggan-h1o {
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.3333333333;
          }
        }
        .auto-group-22kj-2pm {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .contact-info-CDT {
            margin: 0rem 0rem 3.6rem 0.9rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .kontak-Y2R {
              line-height: 1.1111111111;
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.9rem;
              font-size: 1.8rem;
              font-weight: 700;
            }
            .telepon-1234567890-4mT {
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
            }
            .email-roseroyalhotelemailcom-QKX {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
              color: #484848;
            }
            .lokasi-yogyakarta-YRj {
              color: #484848;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3333333333;
            }
          }
          .frame-14-HeD {
            flex-shrink: 0;
            display: flex;
            column-gap: 1.9rem;
            align-items: center;

            .facebook-q9w {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 3.5rem;
            }
            .twitter-atD {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
            }
            .instagram-circle-893 {
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .linkedin-54H {
              width: 3.5rem;
              height: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .copyrights-QsF {
      font-weight: 600;
      white-space: nowrap;
      border-top: solid 0.1rem #e0e2e6;
      box-sizing: border-box;
      padding: 4rem 7.9rem 0rem 97.5rem;
      width: 100%;
      text-align: right;
      flex-shrink: 0;
      font-size: 1.6rem;
      line-height: 1.25;
      color: #484848;
      font-family: Montserrat, 'Source Sans Pro';
    }
  }
}
