
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.selesai-VX3 {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 2rem;
  padding-bottom: 32.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .group-2-SBP {
    margin-bottom: 3.4rem;
    width: 100%;
    height: 7rem;
    background-color: #ededed;
    flex-shrink: 0;

    .main-header-NKw {
      box-sizing: border-box;
      padding: 1.4rem 8.2rem 1.3rem 7.6rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background-color: #ededed;

      .header-h7K {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .rose-royal-T6V {
          display: flex;
          font-size: 3.5rem;
          font-weight: 800;
          line-height: 1.2175;
          margin-right: 44.1rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          color: #484848;
        }
        .header-navigations-ZfK {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 1.2rem 0rem 1rem 0rem;
          height: calc(100% - 2.2rem);

          .reservasi-UXP {
            font-weight: 700;
            line-height: 1.2175;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 2rem 0rem 0rem;
            font-size: 1.6rem;
          }
          .line-21-aaR {
            margin: 0.8rem 1.2rem 0rem 0rem;
            width: 5rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .isi-data-VhP {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 1.2rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #484848;
          }
          .line-18-RL9 {
            margin: 0.2rem 1.3rem 0rem 0rem;
            width: 5rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .pembayaran-jrd {
            line-height: 1.2175;
            color: #484848;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 1.3rem 0.1rem 0rem;
            font-size: 1.6rem;
            font-weight: 600;
          }
          .line-19-FKB {
            margin: 0.2rem 0.5rem 0rem 0rem;
            width: 5rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .tentang-mYR {
            line-height: 1.2175;
            color: #0093ff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
      }
    }
  }
  .frame-9-UBw {
    flex-direction: column;
    margin: 0rem 4.5rem 0rem 4.6rem;
    padding: 2.7rem 2.1rem 5rem 2.6rem;
    width: calc(100% - 9.1rem);
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    border: solid 0.1rem #a8a8a8;
    box-sizing: border-box;
    flex-shrink: 0;

    .data-pemesan-x77 {
      display: flex;
      flex-direction: column;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-bottom: 6.3rem;
      box-sizing: border-box;
      padding: 2.4rem 3.9rem 10.9rem 3.9rem;
      width: 100%;

      .pembayaran-selesai-4fw {
        color: #484848;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 10rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2175;
      }
      .terimakasih-telah-bersedia-menjadikan-hotel-kami-tempat-peristirahatan-anda-kami-menunggu-kedatangan-anda-PTK {
        font-weight: 600;
        font-size: 2.4rem;
        max-width: 97.6rem;
        text-align: center;
        line-height: 1.2175;
        color: #484848;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        width: 100%;
      }
    }
    .isi-data-s7b {
      font-weight: 600;
      color: #484848;
      background-color: #909090;
      width: calc(100% - 104.1rem);
      cursor: pointer;
      font-size: 2.4rem;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      border-radius: 3rem;
      margin: 0rem 52rem 0rem 52.1rem;
      height: 5.9rem;
      line-height: 1.2175;
    }
  }
}
