
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.about-NQD {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
}
.about-NQD .auto-group-uqrk-WWR {
  margin-bottom: 5.8rem;
  width: 100%;
  height: 20.6rem;
  position: relative;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu {
  width: 136.6rem;
  height: 7.3rem;
  position: absolute;
  left: 0;
  top: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .header-background-nyj {
  width: 136.6rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ededed;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w {
  box-sizing: border-box;
  padding: 0.7rem 7.4rem 0.4rem 7.4rem;
  width: 136.6rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #ededed;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .header-E53 {
  margin: 0.7rem 24rem 0.9rem 0rem;
  height: calc(100% - 1.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .header-E53 .rose-royal-Z7K {
  margin-right: 11.8rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.2175;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .header-E53 .header-navigations-4Zs {
  margin: 1.2rem 0rem 0.5rem 0rem;
  height: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .header-E53 .header-navigations-4Zs .auto-group-m4j5-nVs {
  box-sizing: border-box;
  padding-right: 9.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .header-E53 .header-navigations-4Zs .auto-group-m4j5-nVs .beranda-Wwf {
  margin-right: 8rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .header-E53 .header-navigations-4Zs .auto-group-m4j5-nVs .kamar-eHB {
  margin-right: 8.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .header-E53 .header-navigations-4Zs .auto-group-m4j5-nVs .tentang-Niy {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .header-E53 .header-navigations-4Zs .active-category-iH3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .header-E53 .header-navigations-4Zs .active-category-iH3 .contact-4bo {
  margin-bottom: 0.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .header-E53 .header-navigations-4Zs .active-category-iH3 .active-line-Ci1 {
  margin-left: 0.1rem;
  width: 4rem;
  height: 0.3rem;
  background-color: #484848;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .group-2-Fiu .main-header-w5w .initial-options-85s {
  width: 10.9rem;
  height: 5.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .hubungi-kami-FgH {
  box-sizing: border-box;
  padding: 2.5rem 52.3rem 4.3rem 51.5rem;
  width: 136.6rem;
  height: 13.6rem;
  position: absolute;
  left: 0;
  top: 7rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d6d6d6;
}
.about-NQD .auto-group-uqrk-WWR .hubungi-kami-FgH .tentang-hotel-ZS5 {
  margin: 0rem 0rem 0.8rem 0.4rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .auto-group-uqrk-WWR .hubungi-kami-FgH .infomasi-berkaitan-dengan-hotel-fV7 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .auto-group-vvjb-aMB {
  margin: 0rem 3.6rem 3.4rem 4.3rem;
  width: calc(100% - 7.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-NQD .auto-group-vvjb-aMB .rose-royal-adalah-hotel-terdepan-se-asia-tenggara-kami-menyediakan-tempat-persinggahan-untuk-kamu-disaat-kebutuhan-perjalanan-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-nisl-nulla-suscipit-eu-sollicitudin-id-tincidunt-eget-ipsum-vestibulum-vitae-laoreet-risus-ut-finibus-urna-donec-quis-viverra-lectus-pellentesque-interdum-vestibulum-vehicula-phasellus-non-nibh-nunc-donec-sagittis-massa-eget-gravida-egestas-curabitur-id-felis-ligula-fusce-vitae-nisl-efficitur-ornare-neque-id-consectetur-mi-sed-turpis-tellus-porta-eu-ligula-sed-congue-lobortis-dui-maecenas-iaculis-ex-eu-aliquet-pulvinar-donec-in-euismod-est-aliquam-eget-odio-diam-in-nec-euismod-mauris-proin-sed-risus-vulputate-convallis-nunc-ac-sodales-dui-morbi-tincidunt-pharetra-lectus-nec-ornare-curabitur-risus-lorem-molestie-ac-tempor-a-hendrerit-id-nisl-integer-arcu-nulla-rutrum-ac-consectetur-nec-tincidunt-ac-est-fusce-et-scelerisque-sapien-sed-eleifend-ligula-vitae-purus-consequat-eu-sagittis-nibh-commodo-6qK {
  margin-right: 6.6rem;
  max-width: 77.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-NQD .auto-group-vvjb-aMB .image-1-pYM {
  margin-bottom: 3.1rem;
  width: 44.9rem;
  height: 44.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-NQD .footer-94q {
  box-sizing: border-box;
  padding: 7.2rem 0rem 4.2rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #eff0f2;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 {
  margin: 0rem 18.9rem 19.9rem 8rem;
  width: calc(100% - 26.9rem);
  height: 24.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .footer-about-BGR {
  width: 37.8rem;
  height: 100%;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .footer-about-BGR .rose-royal-jHw {
  margin-bottom: 4.4rem;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.2175;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .footer-about-BGR .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-SCM {
  margin-bottom: 4.3rem;
  max-width: 37.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #9a9a9a;
  font-family: Montserrat, 'Source Sans Pro';
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .footer-about-BGR .auto-group-mduf-A1s {
  margin-right: 2.1rem;
  width: calc(100% - 2.1rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .footer-about-BGR .auto-group-mduf-A1s .playstore-TWm {
  margin-right: 1.3rem;
  box-sizing: border-box;
  padding: 0.9rem 3.2rem 0.9rem 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #e0e2e6;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .footer-about-BGR .auto-group-mduf-A1s .playstore-TWm .google-play-Ag5 {
  margin-right: 1.3rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .footer-about-BGR .auto-group-mduf-A1s .playstore-TWm .playstore-tc5 {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .footer-about-BGR .auto-group-mduf-A1s .applestore-zQD {
  box-sizing: border-box;
  padding: 0.9rem 2.5rem 0.9rem 2.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #e0e2e6;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .footer-about-BGR .auto-group-mduf-A1s .applestore-zQD .app-symbol-7jj {
  margin-right: 0.5rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .footer-about-BGR .auto-group-mduf-A1s .applestore-zQD .applestore-rSR {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV {
  box-sizing: border-box;
  padding: 1.4rem 0rem 2.4rem 5.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .company-gwF {
  margin-right: 8.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .company-gwF .perusahaan-qJM {
  margin-bottom: 2.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .company-gwF .tentang-AbX {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .company-gwF .informasi-u3K {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .help-center-2dj {
  margin-right: 5.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .help-center-2dj .pusat-bantuan-BFj {
  margin-bottom: 2.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .help-center-2dj .temukan-kamar-Jr9 {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .help-center-2dj .layanan-pelanggan-e9K {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb .contact-info-WSR {
  margin: 0rem 0rem 3.6rem 0.9rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb .contact-info-WSR .kontak-SL5 {
  margin-bottom: 2.9rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb .contact-info-WSR .telepon-1234567890-NUd {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb .contact-info-WSR .email-roseroyalhotelemailcom-uDf {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb .contact-info-WSR .lokasi-yogyakarta-2ZB {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb .frame-14-AQV {
  display: flex;
  column-gap: 1.9rem;
  align-items: center;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb .frame-14-AQV .facebook-WDT {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb .frame-14-AQV .twitter-FRw {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb .frame-14-AQV .instagram-circle-ZhX {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-NQD .footer-94q .auto-group-fmqx-U77 .auto-group-ckqm-mJV .auto-group-pj9z-yBb .frame-14-AQV .linkedin-tzh {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-NQD .footer-94q .copyrights-RUq {
  box-sizing: border-box;
  padding: 4rem 7.9rem 0rem 97.5rem;
  width: 100%;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #484848;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  border-top: solid 0.1rem #e0e2e6;
  flex-shrink: 0;
}
